[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
drf-spectacular = "<0.23,>=0.22.1"
django = "<4.1,>=4.0.1"
djangorestframework = "<3.14,>=3.13.1"

[dev-packages]

[requires]
python_version = "3.9"
